@font-face {
    font-family: Comfortaa;
    src: url(Comfortaa.ttf);
}

@font-face {
    font-family: Ubuntu;
    src: url(Ubuntu.ttf);
}

@font-face {
    font-family: Fira;
    src: url(Fira.ttf);
}

body {
    background-color: black;
}

h1 {
    font-family: Comfortaa;
    font-size: 24pt;
    color: #35cca3;
}

p {
    font-family: Ubuntu;
    font-size: 14pt;
    color: gray;
}

.code {
    font-family: Fira;
    font-size: 14pt;
    color: greenyellow;
}

.helloworld {
    float: right;
    max-width: 100%; 
    display: block; 
    height: auto;
}

.survey {
    max-width: 100%; 
    display: block; 
    height: auto;
}

li {
    font-family: Ubuntu;
    font-size: 14pt;
    color: white;
}

.growth {
    float: right;
}

a {
    font-family: Ubuntu;
    font-size: 14pt;
    color: blue;
}